<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>导航管理</h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('add')}">新 增</a>
        <a class="btn" href="{:U('add','pid='.$pid)}">启 用</a>
        <a class="btn" href="{:U('add','pid='.$pid)}">禁 用</a>
        <a class="btn" href="javascript:;">删 除</a>

    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>报修单号</th>
                <th>报修人</th>
                <th>电话</th>
                <th>地址</th>
                <th>问题</th>
                <th>报修时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="list">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$list['id']}"> </td>
                        <td>{$list.sn}</td>
                        <td>{$list.name}</td>
                        <td>{$list.tel}</td>
                        <td>{$list.address}</td>
                        <td>{$list.title}</td>
                        <td>{$list.create_time|date='Y-m-d G:i:s',###}</td>
                        <td>{:($list.status==1)?'通过审核':'未通过审核'}</td>
                        <td>
                            <a title="通过" href="{:U('pass?id='.$list['id'])}">通过审核</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$list['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
</block>